/* Color scheme inspired by [asciidoctor.css]
(https://github.com/asciidoctor/asciidoctor-stylesheet-factory) */

@import "typography";
/* vars */
$sans-font-stack: "Optima", -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Roboto", "Helvetica Neue", "Ubuntu", "Oxygen", sans-serif;
$serif-font-stack: Georgia, "Lucida", "URW Bookman L", sans-serif;
$code-font-stack: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
  "Courier", "Courier New", monospace;
$h1: 2.488rem;
$h2: 2.074rem;
$h3: 1.728rem;
$h4: 1.44rem;
$h5: 1.2rem;
$h6: 1rem;
$toc-width: 10rem;
$table-pad: 0.5625rem 0.625rem;
$border: #e5e5e5 !default;

body {
  background: #fafafa;
  color: #111;
  font-family: $sans-font-stack;
  cursor: auto;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
}

/* Center body text and make it nice */

#body-content {
  max-width: 960px;
  margin: auto;
  padding-bottom: 5rem;
}

.col {
  height: 100%;
  overflow-y: auto;
}

a {
  &:hover,
  &:focus {
    cursor: pointer;
    outline: none;
  }
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

object,
embed {
  height: 100%;
}

img {
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle;
}

textarea {
  height: auto;
  min-height: 50px;
}

select {
  width: 100%;
}

/* Default Link Styles */

a {
  color: inherit;
  text-decoration: underline;
  line-height: inherit;

  &:hover,
  &:focus {
    color: #00467f;
  }

  img {
    border: none;
  }

  > code {
    color: inherit;
    background-color: inherit;
  }
}

/* Default paragraph styles */

p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.7;
  text-rendering: optimizeLegibility;

  aside {
    font-size: 0.875rem;
    line-height: 1.35;
    font-style: italic;
  }

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Default header styles */
.title {
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $serif-font-stack;
  font-weight: normal;
  font-style: normal;
  color: #ba3925;
  text-rendering: optimizeLegibility;
  margin: 0.5rem 0;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-size: 60%;
  color: #e99b8f;
  line-height: 0;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}
h5 {
  font-size: $h5;
}

h6 {
  font-size: $h6;
}

hr {
  background: $border;
  border: none;
  display: block;
  height: 1px;
}

/* Lists */

ul,
ol,
dl {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  list-style-position: outside;
  font-family: inherit;
}

ul,
ol {
  margin-left: 1.5rem;
}

/* Unordered Lists */

ul {
  li {
    ul,
    ol {
      margin-left: 1.25rem;
      margin-bottom: 0;
      font-size: 1rem;

      /* Override nested font-size change */
    }
  }

  &.square li ul,
  &.circle li ul,
  &.disc li ul {
    list-style: inherit;
  }

  &.square {
    list-style-type: square;
  }

  &.circle {
    list-style-type: circle;
  }

  &.disc {
    list-style-type: disc;
  }

  &.no-bullet {
    list-style: none;
  }
}

/* Ordered Lists */

ol li {
  ul,
  ol {
    margin-left: 1.25rem;
    margin-bottom: 0;
  }
}

/* Definition Lists */

dl {
  dt {
    margin-bottom: 0.3125rem;
    font-weight: bold;
  }

  dd {
    margin-bottom: 1.25rem;
  }
}

ol {
  margin-left: 1.75rem;
}

ul li ol {
  margin-left: 1.5rem;
}

dl dd {
  margin-left: 1.125rem;

  &:last-child {
    margin-bottom: 0;

    > :last-child {
      margin-bottom: 0;
    }
  }
}

ol > li p {
  margin-bottom: inherit;
}

ul {
  > li p,
  dd {
    margin-bottom: inherit;
  }
}

ol dd {
  margin-bottom: inherit;
}

/* Abbreviations */

abbr,
acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #222222;
  border-bottom: 1px dotted #dddddd;
  cursor: help;
}

abbr {
  text-transform: none;
}

/* Blockquotes */

blockquote {
  margin: 0.25rem 0;
  padding: 0.3rem 1.25rem;
  border-left: 1px solid #dddddd;

  cite {
    display: block;
    font-size: inherit;
    color: #555555;

    &:before {
      content: "\2014 \0020";
    }

    a {
      color: #555555;

      &:visited {
        color: #555555;
      }
    }
  }

  line-height: 1.6;
  color: #6f6f6f;

  p {
    line-height: 1.6;
    color: #6f6f6f;
  }
}

/* RESPONSIVE DESIGN */
/* larger than mobile screens */
@media only screen and (min-width: 768px) {
  nav#TOC {
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    max-width: $toc-width;
    text-align: left;
    overflow: auto;

    >ul {
      list-style-type: none;
      margin-left: 0.25rem;
      ul {
        margin-left: 0.6rem;
      }
    }

  }

  html {
    font-size: 18px;
  }

  #body {
    margin-left: $toc-width;
  }

  h1 {
    font-size: $h1 * 1.2;
  }
  h2 {
    font-size: $h2 * 1.2;
  }
  h3 {
    font-size: $h3 * 1.2;
  }
  h4 {
    font-size: $h4 * 1.2;
  }
  h5 {
    font-size: $h5 * 1.2;
  }
}

@media screen and (max-width: 768px) {
  nav#TOC {
    display: none;
  }

  #body-content {
    padding: 0 0.5rem;
  }

  /* table stuff */

  thead {
    display: none;
  }

  tr,
  th {
    display: block;
  }

  td {
    display: block;
    border-top: 0;
  }

  tr td:first-child {
    font-weight: 700;
  }
}

/* Print -- currently doesn't work that well */
@media print {
  * {
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr {
    page-break-inside: avoid;
  }

  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3,
  .sidebarblock > .content > .title {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3,
  .sidebarblock > .content > .title {
    page-break-after: avoid;
  }
}

/* Tables */

table {
  background: white;
  margin: 0.75rem auto;
  border: solid 1px #dddddd;

  thead,
  tfoot {
    background: #f4f4f4;
    font-weight: bold;
  }

  thead th,
  tfoot th {
    font-weight: bold;
  }

  th,
  td {
    padding: $table-pad;
    font-size: inherit;
    display: table-cell;
    line-height: 1.6;
  }

  tr {
    &.even,
    &.alt,
    &:nth-of-type(even) {
      background: #f9f9f9;
    }
  }
}

/* code blocks */

code {
  font-family: $code-font-stack;
  font-weight: normal;
  color: #6d180b;
  font-size: 0.9em;
}

pre > code {
  color: inherit;
  font-weight: normal;
  overflow-x: scroll;
}

/* Regular code spans */

*:not(pre) > code {
  font-size: 0.9em;
  padding: 0.1rem 0.25rem;
  white-space: nowrap;
  background-color: #f2f2f2;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-shadow: none;
}

footer {
  max-width: 100%;
  padding: 1.25rem;
  text-align: right;

  * {
    line-height: 1.44;
  }
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  color: #ba3925;
  text-decoration: none;
}

/* Footnotes */

.footnote-ref {
  sup {
    font-size: 0.875rem;
  }

  text-decoration: none;
}

.footnotes {
  padding-bottom: 0.75rem;
  font-size: 0.875rem;

  hr {
    width: 20%;
    min-width: 6.25rem;
  }
}
